ul.games {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.games li {
  margin-bottom: 24px;
}

ul.games article {
  display: flex;
}

ul.games article h3 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

ul.games article img {
  max-height: 200px;
  max-width: 200px;
}
ul.games article .large img {
  max-height: 400px;
  max-width: 400px;
}
