<nav class="menu left-nav" style="border: 4px solid green; padding: 1px; margin: 1px; ">
  <LinkTo @route="index" class="menu-index">Home</LinkTo>
  <LinkTo @route="about" class="menu-about">About</LinkTo>
  <LinkTo @route="contact" class="menu-contact">Contact</LinkTo>
</nav>
