<div class="wrapper" style="border: 4px solid blue; padding: 1px; margin: 1px; ">
  <header style="border: 4px solid red; padding: 4px; margin: 1px; " />
  <div class="left-nav" style="border: 4px solid green; padding: 1px; margin: 1px; " />
  <div class="content" style="border: 4px solid purple; padding: 1px; margin: 1px; ">
    {{yield}}
  </div>
</div>
