<article>
  <VideoGame::Image
    src="https://upload.wikimedia.org/wikipedia/en/6/6b/Centipede-arcade-flyer.jpg"
    alt="Arcade Flyer"
  />
  <div class="game">
    <h3>Centipede</h3>
    <div class="detail publisher">
      Publisher: Atari
    </div>
    <div class="detail release">
      Release: June 1981
    </div>
    <div class="detail platform">
      Platform: Atari 2600
    </div>
    <div class="detail multiplayer">
      Multiplayer: Yes
    </div>
    <div class="detail genre">
      Genre: Shooter
    </div>
  </div>
</article>
