{{#if this.enlarged}}
<div class="image large">
  <img ...attributes>
  <button type="button" {{on "click" this.toggleSize}}>View Smaller</button>
</div>
{{else}}
<div class="image">
  <img ...attributes>
  <button type="button" {{on "click" this.toggleSize}}>View Larger</button>
</div>
{{/if}}
