{{page-title "Ember People App"}}

<h1>Application Template Header</h1>

{{!-- could put NavBar here --}}

{{!-- The following component displays Ember's default welcome message. }}
<WelcomePage />
{{!-- Feel free to remove this! --}}

{{outlet}}
