<h2>Contact Us</h2>

<p>Here are a few ways to contact us about stuff that's happening. Or to tell us our hair looks rockin'.</p>

<address>
  <p><a href="tel:800-555-5555">800-555-5555</a></p>
  <p><a href="mailto:help@example.com">help@example.com</a></p>
</address>
