<TrivialLayout>
<div>
  <p>index.hbs template</p>
  <LinkTo @route="about">About</LinkTo>
</div>
<ul class="games">
  <li><VideoGame /></li>
  <li><VideoGame /></li>
  <li><VideoGame /></li>
</ul>
</TrivialLayout>
