<TrivialLayout>
<div>
  <p>index.hbs template</p>
  <LinkTo @route="about">About</LinkTo>
</div>
<ul class="games">
  {{#each @model as |game|}}
  <li><VideoGame @game={{game}}/></li>
  {{/each}}
</ul>
</TrivialLayout>
